.hero {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap:35px;

}

.hero img {
    margin-top: 150px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover; /* Ensure image maintains aspect ratio */
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}  

.hero h1 span {
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    text-align: center;
    width: 70%;
    font-size: 28px;
    color: #888;
}
.hero-action {
    display: flex;
    align-items: center;
    gap: 70px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    
}

.hero-connect {
    background: #161513;
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume {
   
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.5s;
    
}
.hero-connect:hover {
    transform: scale(1.05);
}

.hero-resume:hover {
    transform: scale(1.05);
}